<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiops.api.mapper.AlarmMapper">

    <select id="queryAlarms" resultType="com.aiops.api.entity.po.Alarm">
        SELECT `alarm_id`, `key` AS `id`, `message`, `start_time` AS `startTime`, `scope`
        FROM alarm_info
        <where>
            <if test="from">
                and `start_time` <![CDATA[ >= ]]> #{from}
            </if>
            <if test="to">
                and `start_time` <![CDATA[ <= ]]> #{to}
            </if>
            <if test="scope">
                and `scope` = #{scope}
            </if>
            <if test="keyword">
                and `message` like "%"#{keyword,jdbcType=VARCHAR}"%"
            </if>
        </where>
        order by `start_time` desc
    </select>
</mapper>