<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiops.api.mapper.EndpointTopologyMapper">

    <select id="getContextIdInfo" resultType="com.aiops.api.service.topology.endpoint.dto.ContextIdInfo">
        SELECT t.`span_id`, t.`parent_span_id`, m.`name`
        FROM metadata_service_endpoint m
        JOIN trace_span t
        ON m.`service_endpoint_id` = t.`endpoint_id`
        WHERE t.`endpoint_id` = #{endpointId}
        AND t.`start_time` <![CDATA[ >= ]]> #{from}
        AND t.`start_time`<![CDATA[ <= ]]> #{to}
    </select>

    <select id="getTopologyNodeBySpanId" resultType="com.aiops.api.entity.vo.response.EndpointTopologyNode">
        SELECT DISTINCT m.`service_endpoint_id` `id`, m.`name` `value`
        FROM metadata_service_endpoint m
        JOIN trace_span t
        ON m.`service_endpoint_id`=t.`endpoint_id`
        WHERE t.`start_time` <![CDATA[ >= ]]> #{from}
        AND t.`start_time`<![CDATA[ <= ]]> #{to}
        AND
        <if test="isCurrentId">
            t.`span_id`
        </if>
        <if test="isCurrentId==false">
            t.`parent_span_id`
        </if>
        IN
        <foreach item="item" index="index" collection="ids" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>
</mapper>