<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiops.api.mapper.GlobalKpiMapper">

    <select id="selectCrossAxisKpi" resultType="com.aiops.api.entity.vo.response.CrossAxisGraphPoint">
        SELECT s.`time`, IFNULL(m.`value`, 0) `value`, IFNULL(m.`predict`, 0) `predict`
        FROM step_${step} s
        LEFT JOIN kpi_all_${kpiName}_${step} m
        ON s.`time` = m.`time`
        WHERE s.`time` <![CDATA[ >= ]]> #{from}
        AND s.`time` <![CDATA[ <= ]]> #{to}
        ORDER BY s.`time`;
    </select>


    <select id="selectHeatmap" resultType="com.aiops.api.entity.vo.response.HeatmapPoint">
        SET @rank = -1 ,@rowtotal := NULL;
        SELECT
            CASE
        WHEN @rowtotal = a.`time` THEN
            @rank
        WHEN @rowtotal := a.`time` THEN
            @rank := @rank + 1
        END AS `x`, a.y, a.value, a.predict
        FROM(
            SELECT s.`time`,  IFNULL(`num_of_steps`, 0) `y`, IFNULL(`value`, 0) `value`, 0.0 AS `predict`
            FROM step_${step} s
            LEFT JOIN kpi_all_heatmap_${step} k
            ON s.`time` = k.`time`
            WHERE s.`time` <![CDATA[ >= ]]> #{from}
            AND s.`time` <![CDATA[ <= ]]> #{to}
            ORDER BY s.`time`, `y` ASC
        ) a;
    </select>


    <select id="selectTheMostHeatmapStep" resultType="java.lang.Integer">
        select step
        from kpi_all_heatmap_${step}
        where `time` <![CDATA[ >= ]]> #{from}
        and `time` <![CDATA[ <= ]]> #{to}
        group by step
        order by count(step) desc
        limit 1;
    </select>
</mapper>