<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiops.api.mapper.InstanceKpiMapper">

    <select id="selectCrossAxisKpi" resultType="com.aiops.api.entity.vo.response.CrossAxisGraphPoint">
        SELECT s.`time` `time`, IFNULL(`value`, 0) `value`, IFNULL(`predict`,0) `predict`
        FROM step_${step} s
        LEFT JOIN
        (SELECT `time`, `value`, `predict`
        FROM kpi_instance_${kpiName}_${step}
        WHERE instance_id = 0) a
        ON s.`time`= a.`time`
        WHERE s.`time` <![CDATA[ >= ]]> #{from}
        AND s.`time` <![CDATA[ <= ]]> #{to}
        ORDER BY s.`time`;
    </select>

    <select id="serviceInstanceThroughputDesc" resultType="com.aiops.api.entity.vo.response.SimpleOrderNode">
        select msi.`service_instance_id` id, msi.`name` `name`, IFNULL(AVG(k.`value`),0 ) `value`
        from metadata_service_instance msi
        left join kpi_instance_throughput_${step} k
        on msi.`service_instance_id`=k.`service_instance_id`
        where msi.`service_id` = #{serviceId}
        and k.`time` <![CDATA[ <= ]]> #{to}
        and k.`time` <![CDATA[ >= ]]> #{from}
        group by msi.`service_instance_id`
        ORDER BY `value` DESC
    </select>

</mapper>