<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiops.api.mapper.InstanceKpiMapper">

    <select id="selectCrossAxisKpi" resultType="com.aiops.api.entity.vo.response.CrossAxisGraphPoint">
        SELECT s.`time`, IFNULL(m.`value`, 0) `value`, IFNULL(m.`predict`, 0) `predict`
        FROM step_${step} s
        LEFT JOIN kpi_instance_${kpiName}_${step} m
        ON s.`time` = m.`time`
        WHERE `instance_id` = #{instanceId}
        AND s.`time` <![CDATA[ >= ]]> #{from}
        AND s.`time` <![CDATA[ <= ]]> #{to}
        ORDER BY s.`time`;
    </select>

</mapper>