<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiops.api.mapper.ServiceContainerInfoMapper">

    <select id="selectList" resultType="com.aiops.api.entity.ServiceContainerInfo"
            parameterType="com.aiops.api.entity.dto.ServiceContainerInfoSearchDto">
        select * from service_container_info
        <where>
            <if test="serviceContainerId">
                and service_container_id=#{serviceContainerId}
            </if>
            <if test="os">
                and lower(os) like lower(#{os}"%")
            </if>
            <if test="ip">
                and ip = #{ip}
            </if>
            <if test="addTimeFrom">
                and add_timestamp <![CDATA[ >= ]]> #{addTimeFrom}
            </if>
            <if test="addTimeTo">
                and add_timestamp <![CDATA[ <= ]]> #{addTimeTo}
            </if>
            <if test="isInUse">
                and is_in_use = #{isInUse}
            </if>
            <if test="deprecatedTimeFrom">
                and deprecated_timestamp <![CDATA[ >= ]]> #{deprecatedTimeFrom}
            </if>
            <if test="deprecatedTimeTo">
                and deprecated_timestamp <![CDATA[ <= ]]> #{deprecatedTimeTo}
            </if>
        </where>
    </select>
</mapper>