<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiops.api.mapper.ServiceKpiMapper">

    <select id="selectCrossAxisKpi" resultType="com.aiops.api.entity.vo.response.CrossAxisGraphPoint">
        SELECT s.`time` `time`, IFNULL(`value`, 0) `value`, IFNULL(`predict`,0) `predict`
        FROM step_${step} s
        LEFT JOIN
        (SELECT `time`, `value`, `predict`
        FROM kpi_service_${kpiName}_${step}
        WHERE service_id = 0) a
        ON s.`time`= a.`time`
        WHERE s.`time` <![CDATA[ >= ]]> #{from}
        AND s.`time` <![CDATA[ <= ]]> #{to}
        ORDER BY s.`time`;
    </select>

</mapper>