<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiops.api.mapper.ServiceNodeMapper">

    <resultMap id="node" type="com.aiops.api.entity.ServiceNode">
        <id column="node_id" property="nodeId"/>
        <result column="name" property="name"/>
        <result column="add_timestamp" property="addTimestamp"/>
        <result column="description" property="description"/>
        <result column="node_type" property="nodeType"/>
    </resultMap>

    <resultMap id="service" type="com.aiops.api.entity.Service" extends="node">
        <result column="service_id" property="serviceId"/>
    </resultMap>

    <resultMap id="database" type="com.aiops.api.entity.Database" extends="node">
        <result column="database_id" property="databaseId"/>
    </resultMap>

    <select id="selectServices" resultMap="service" parameterType="com.aiops.api.entity.dto.ServiceNodeSearchDto">
        select *
        from metadata_service s
        join metadata_service_node n
        on s.service_id=n.node_id
        <where>
            <if test="nodeId">
                and node_id = #{nodeId}
            </if>
            <if test="name">
                and name like "%"#{name}"%"
            </if>
            <if test="nodeType">
                and node_type like "%"#{nodeType}"%"
            </if>
        </where>
    </select>

    <select id="selectDatabases" resultMap="database"
            parameterType="com.aiops.api.entity.dto.ServiceNodeSearchDto">
        select *
        from metadata_database d
        join metadata_service_node n
        on d.database_id=n.node_id
        <where>
            <if test="nodeId">
                and node_id = #{nodeId}
            </if>
            <if test="name">
                and name like "%"#{name}"%"
            </if>
            <if test="nodeType">
                and node_type like "%"#{nodeType}"%"
            </if>
        </where>
    </select>

    <select id="countAllServices" resultType="java.lang.Integer">
        select count(service_id) from metadata_service
    </select>

    <select id="countAllDatabases" resultType="java.lang.Integer">
        select count(database_id) from metadata_database
    </select>
</mapper>