<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiops.api.mapper.ServiceKpiMapper">

    <select id="queryCrossAxisKpi" resultType="com.aiops.api.entity.vo.response.CrossAxisGraphPoint">
        SELECT s.`time` `time`, IFNULL(`value`, 0) `value`, IFNULL(`predict`,0) `predict`
        FROM step_${step} s
        LEFT JOIN
        (SELECT `time`, `value`, `predict`
        FROM kpi_service_${kpiName}_${step}
        WHERE service_id = 0) a
        ON s.`time`= a.`time`
        WHERE s.`time` <![CDATA[ >= ]]> #{from}
        AND s.`time` <![CDATA[ <= ]]> #{to}
        ORDER BY s.`time`;
    </select>

    <select id="queryKpiByOrder" resultType="com.aiops.api.entity.vo.response.SimpleOrderNode">
        SELECT k.`service_id` AS `id`, AVG(k.`value`) AS `value`, msn.`name` AS `name`
        FROM kpi_service_${kpiName}_${step} k
        JOIN metadata_service_node msn
        ON k.`service_id`=msn.`node_id`
        WHERE k.`time` <![CDATA[ >= ]]> #{from}
        AND k.`time` <![CDATA[ <= ]]> #{to}
        GROUP BY k.`service_id`
        <choose>
            <when test="isDesc"> order by `value` desc </when>
            <otherwise> order by `value` asc </otherwise>
        </choose>
    </select>

</mapper>