<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiops.api.mapper.StepMapper">


    <insert id="saveTimes">
        insert into step_${step}(`time`) values
        <foreach collection="dataList" item="item" separator="," index="index">
            (#{item})
        </foreach>
    </insert>

    <select id="selectMaxTimeInStep" resultType="java.util.Date">
        SELECT MAX(`time`) FROM step_${step};
    </select>

</mapper>